.backgroundApp{
  background-color: #053244;
}

/* .input *{
    
    border-radius: 35;
} */

.input{
  border-radius: 35;
}

body{
  background-color:#053244;
}

.title{
  color: white;
}

.buttonA{
  background: #F05029;
}

h1 {
  color: #FFF;
}

