body{
    background-color:#053244;
  }
  
.title-page{
  color: white;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.75rem;
}


.logo{
  width: 50%;
  margin-bottom: 1rem;
}

.error {
  background-color: red;
}

.main { // OLD CARD class/tag
  box-sizing: border-box;
  max-width: 410px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  color: #FFF;

  tr {
    border-bottom: 2px solid #FFF;
  }

  td, th {
    padding: 10px;
    text-align: center;
  }
}