// lib component
.rw-widget-picker {
    border-radius: 35px;
    text-align: center;
    margin-top: 2rem; 
  }

  .rw-widget-picker:hover {
    background-color: rgb(192, 247, 247);
  }

.custom-input{
  padding: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 35px;
  border: 0;
};

input:hover{
  background-color: rgb(192, 247, 247);
}

.custom-button{
  background-color: #F05029;
  border-radius: 35px ;
  border: 0;
  padding: 0.5rem;
  margin-top: 2rem; 
  //margin-bottom: 2rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

button:hover {
  background-color: coral;
}

.exit-btn {
  background-color: #F05029;
}

.custom-href-text {
  color:#FFFFFF;
}